<div class="container">
    <form class="inner-container" #form="ngForm" (ngSubmit)="forgotPassword(form)">
        <div>
            <h2>Forgot password</h2>
        </div>
        <!-------
        <div class='aligned-to-right'>
            <button mat-button color="primary" [disabled]="!form.get('email')!.valid"
                (click)="recoverPassword()" *ngIf="!isRecoveringPassword"
                test-id="recover-password-button">
                Recover password
            </button>
            !--------->
        <div class="input-container">
            <label for="email">Email</label>
            <input 
            type="email" 
            id="email" 
            name="email" 
            class="form-control" 
            [appEmail]="domains"
            placeholder="Enter email here..."
            ngModel
            #inputEmail="ngModel"
            required
        >
        </div>
        <ng-container *ngIf="inputEmail.touched">
            <p class="error" *ngIf="inputEmail.errors?.['required']">
              Email is required!
            </p>
            <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
              Email is not valid!
            </p>
          </ng-container>
        <button class="submit-btn">Send link</button>
        <ng-container *ngIf="serverMessage!=''">
            <p class="error">
              {{serverMessage}}
            </p>
          </ng-container>
        <div>
            <a routerLink="/auth/login">Alreay have Account? Back to <span>login</span></a>
        </div>
    </form>
</div>
