.input-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 0.2em;
    width: 70%;
}

.input-container input{
    padding: 10px 5px 10px 10px;
    margin-bottom: 0.5em;

    &:focus {
        padding: 10px 5px 10px 10px;
        outline: 0;
        border-color: #ff7052;
    }
}

.forgot-password button{
    padding: 12px 5px 12px 10px;
    width: 50%;
    background-color: #4257a2;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.8em 0em;
    border: none;
    cursor: pointer;
}

.forgot-password button:hover{
    color: #4257a2;
    background-color: aliceblue;
}
.forgot-password div a{
    color: #4257a2;
}