
.input-container input{
    padding: 10px 5px 10px 10px;
    margin-bottom: 0.5em;

    &:focus {
        padding: 10px 5px 10px 10px;
        outline: 0;
        border-color: #ff7052;
    }
}

.login button{
    color: #4257a2;
    background-color: aliceblue;
}

.login div a{
    color: black;
}

.google-login a{
    display: flex;
    align-items: center;
    justify-content: center;
}