<div class="container">
    <form class="inner-container" #form="ngForm" (ngSubmit)="saveProfile(form)">
        <h2>User profile</h2>
        <div class="input-container">
            <label for="email">Email</label>
            <input 
            type="email" 
            id="email" 
            name="email" 
            [ngModel]="getUserEmail()" 
            
            disabled="disabled"
        >
        </div>
       <!-- <ng-container *ngIf="inputEmail.touched">
            <p class="error" *ngIf="inputEmail.errors?.['required']">
                Email is required!
            </p>
            <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
                Email is not valid!
            </p>
        </ng-container>-->
        <div class="input-container">
            <label for="displayName">Display name</label>
            <input 
                type="displayName" 
                id="displatName" 
                name="displayName" 
                placeholder="Enter your nickname here..."
                [ngModel]="userInfo.displayName" 
                #inputDisplayName="ngModel" 
                minlength="3"
            >
        </div>

        <ng-container *ngIf="inputDisplayName.touched">
            <p class="error" *ngIf="inputDisplayName.errors?.['minlength']">
                Nickname must be at least 3 characters!
            </p>
        </ng-container>

        <div class="input-container">
            <label for="firstName">First name</label>
            <input 
            type="firstName" 
            id="firstName" 
            name="firstName" 
            placeholder="Enter your first name here..." 
            ngModel
            #inputFirstName="ngModel" 
            minlength="2"
        >
        </div>
        <ng-container *ngIf="inputFirstName.touched">
            <p class="error" *ngIf="inputFirstName.errors?.['minlength']">
                First name must be at least 2 characters!
            </p>
        </ng-container>

        <div class="input-container">
            <label for="lastName">Last name</label>
            <input 
                type="lastName" 
                id="lastName" 
                name="lastName" 
                placeholder="Enter your last name here..." 
                ngModel
                #inputLastName="ngModel" 
                minlength="3"
            >
        </div>
        <ng-container *ngIf="inputLastName.touched">
            <p class="error" *ngIf="inputLastName.errors?.['minlength']">
                First name must be at least 3 characters!
            </p>
        </ng-container>

        <div class="input-container">
            <label for="phone">Your phone number</label>
            <input 
                type="phone" 
                id="phone" 
                name="phone" 
                placeholder="Enter your phone here..." 
                ngModel
                #inputPhone="ngModel" 
                minlength="9"
            >
        </div>
        <ng-container *ngIf="inputPhone.touched">
            <p class="error" *ngIf="inputPhone.errors?.['minlength']">
                Phone must be at least 9 characters!
            </p>
        </ng-container>


        <div class="input-container">
            <label for="address">Your address</label>
            <input 
                type="address" 
                id="address" 
                name="address" 
                placeholder="Enter your address here..." 
                ngModel
                #inputAddress="ngModel" 
                minlength="5"
            >
        </div>
        <ng-container *ngIf="inputLastName.touched">
            <p class="error" *ngIf="inputAddress.errors?.['minlength']">
                Address must be at least 5 characters!
            </p>
        </ng-container>

        <div class="profile-btn-container">
            <button class="submit-btn">Update</button>
            <button class="submit-btn">Later</button>
        </div>
        <ng-container *ngIf="serverMessage!=''">
            <p class="error">
                {{serverMessage}}
            </p>
        </ng-container>
    </form>
</div>
