*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 18px/1.5 Helvetica, sans-serif;
}

.container{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    box-shadow: 0px 0px 5px 0px rgb(84, 70, 133), -7px -7px 10px #6f71740f;
    /*background: linear-gradient(90deg, rgb(88, 73, 180), rgba(169, 187, 239, 0.346));*/
    font-family: Helvetica, Arial, sans-serif;
    padding: 3% 0;
    color: #4257a2;
}

.container h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    border-bottom: 2px solid #4257a2;
    margin-bottom: 0.5em;
}

.submit-btn{
        padding: 12px 5px 12px 10px;
        width: 50%;
        background-color: #4257a2;
        color: white;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: bold;
        margin: 0.8em 0em;
        border: none;
        cursor: pointer;
}
button:hover{
    color: #4257a2;
    background-color: aliceblue;
}
